<!doctype html>
<html lang="en" ng-app="BBCiPlayer">
  <head>
    <meta charset="utf-8">
    <title>iPlayer Programmes</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/iPlayerProgrammesController.js"></script>
    <script src="js/iPlayerSearchFactory.js"></script>
    <link rel="stylesheet" href="visuals/main.css">
  </head>
  <body ng-controller="iPlayerProgrammesController as iPlayerCtrl"
      ng-init="iPlayerCtrl.doSearch('a', 1)">
    <img id="logo" src="visuals/images/BBC_iPlayer_logo.svg">
    <div id="letters">
      <span ng-repeat="letter in iPlayerCtrl.alphabet" >
        <button ng-click='iPlayerCtrl.doSearch(letter, 1)'>{{letter}}</button>
      </span>
    </div>
    <div id="programmes">
      <span >Page:</span>
      <span id="pages" ng-repeat="page in iPlayerCtrl.pages">
        <button ng-click='iPlayerCtrl.doSearch(iPlayerCtrl.letter, page)'>
          {{page}}</button>
        </span>
      <div id="programme" ng-repeat="prog in iPlayerCtrl.searchResult">
        <img id="image" ng-src="{{iPlayerCtrl.image_url(prog.images.standard)}}">
        <div id="text">
          <h3>{{prog.title}}</h3>
          <p id="synop">{{prog.synopses.small}}</p>
        </div>
      </div>
  </div>
  </body>
  </html>
