<!doctype html>
<html lang="en" ng-app="BBCiPlayer">
  <head>
    <meta charset="utf-8">
    <title>iPlayer Programmes</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/iPlayerProgrammesController.js"></script>
    <script src="js/iPlayerSearchFactory.js"></script>
    <link rel="stylesheet" href="public/main.css">
  </head>
  <body ng-controller="iPlayerProgrammesController as iPlayerCtrl">
    <div id="title">
      <img src="public/images/BBC_iPlayer_logo.svg">
    </div>
    <div id="letters">
      <span ng-repeat="x in iPlayerCtrl.alphabet" >
        <button ng-click='iPlayerCtrl.doSearch(x, 1)'id="letter">{{x}}</button>
      </span>
    </div>
    <div id="programmes">
      <span ng-hide="iPlayerCtrl.pages <= 1">Page:</span>
      <span ng-hide="iPlayerCtrl.pages <= 1" id="pages" ng-repeat="x in iPlayerCtrl.pages">
        <button ng-click='iPlayerCtrl.doSearch(iPlayerCtrl.letter, x)'>{{x}}</button>
      </span>
      <div id="programme" ng-repeat="prog in iPlayerCtrl.searchResult">
        <div id="image">
          <img ng-src="{{iPlayerCtrl.image_url(prog.images.standard)}}">
        </div>
        <div id="text">
          <h3>{{prog.title}}</h3>
          <p id="synop">{{prog.synopses.small}}</p>
        </div>
      </div>
  </div>
  </body>
  </html>
